<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBC2rlZjgCmCVsllIx2NGOUMAKny0H4XT4</string>
	<key>GCM_SENDER_ID</key>
	<string>326459797425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ADK.MangaAD</string>
	<key>PROJECT_ID</key>
	<string>mangaad-ecbcd</string>
	<key>STORAGE_BUCKET</key>
	<string>mangaad-ecbcd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:326459797425:ios:19f80b0b5bbeba1ee7d790</string>
</dict>
</plist>